@font-face {
  font-family: press-start;
  src: url(/static/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: creepster;
  src: url(/static/fonts/Creepster-Regular.ttf);
}

html {
  background-color: black;
}

body {
  background-color: black;
  font-size: 2em;
  color: red;
}

.nintendo {
  font-family: press-start;
}

.creepy {
  font-family: creepster;
}

.choice {
  font-size: 1.5em;
}

.answers td {
  border-bottom: 1px solid;
}

.answers th {
  border-bottom: 1px dashed;
}

td, th {
  padding: 0.1em;
}

#pump-quizz {
  margin-top: 15%;
}
